.game-meta {
  background-color: #fff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: 700;
  margin: 5% auto 2% auto;
  width: 90%;

  .title {
    font-size: 3rem;
    font-weight: 700;
    margin: -5% auto 0 auto;
  }
}

.game-container {
  align-items: center;
  background-color: #fff;
  border: 2px solid #5d5d5d;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  justify-content: space-around;
  margin: 1% auto;
  min-height: 200px;
  width: 85%;

  .user-status {
    min-height: 85px;
  }

  .round-stats {
    text-align: center;
  }

  .roll-stats {
    @extend .round-stats;
    text-decoration: underline;
  }


  .roller {
    border-radius: 25%;
    font-size: 1rem;
    margin: 5%;
    width: 15%;
  }
}

.win-total, .loss-total {
  text-decoration: underline;
}

.dice-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 95%;

  .dice-one, .dice-two {
  background-color: #99badd;
  border: 2px solid #5d5d5d;
  overflow: hidden;
  width: 200px;
  height: 200px;
  }
}

footer {
  
  display: block;
  font-size: .85rem;
  position: absolute;
  width: 100%
}
