@import url( 'https://fonts.googleapis.com/css?family=Special+Elite');
@import url( 'https://fonts.googleapis.com/css?family=Old+Standard+TT');
$greyishBrown: #A3A380;
$lightYellow: #D6CE93;
$offWhite: #EFEBCE;
$redBrown: #77220A;
$heroFont: 'Special Elite', sans-serif;
